import React, { forwardRef, Ref } from 'react';
// don't forget to create your type definition
import { {{ pascalCase name }}Props } from 'types';
import { /* ... */ } from './{{ pascalCase name }}.styles';

const {{ pascalCase name }} = forwardRef<HTMLDivElement, {{ pascalCase name }}Props>(
  (
    { children, variant = 'primary', ...rest }: {{ pascalCase name }}Props,
    forwardedRef: Ref<HTMLDivElement>
  ) => {
    const variants = {
      /* add your variants here */
    };
    return (
      <div ref={forwardedRef} {...rest}>
        {{ pascalCase name }}
      </div>
    );
  }
);

export default {{ pascalCase name }};
